{"openapi": "3.0.1", "info": {"title": "Travel B2B API", "description": "This API allows is design to manage products, offer list, suppliers (receivers) and distributor (senders) for Orange Link web sites", "version": "1.7.X", "termsOfService": "http://swagger.io/terms/", "contact": {"email": "yves.scotto@orange.com"}, "license": {"name": "Apache 2.0", "url": "http://www.apache.org/licenses/LICENSE-2.0.html"}}, "servers": [{"url": "https://api.orange.com/travel-b2b-sandbox/v1", "description": "Sandbox travel b2b version"}, {"url": "https://api.orange.com/travel-b2b/v1", "description": "Prod travel b2b version"}], "paths": {"/live": {"get": {"operationId": "isAlive", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Live test URL", "responses": {"200": {"description": "server status and version", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Status"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/countries": {"get": {"operationId": "getCountryList", "tags": ["Countries"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get Country list", "parameters": [{"in": "query", "name": "offset", "description": "search offset", "required": false, "schema": {"type": "integer"}}, {"in": "query", "name": "limit", "description": "country count", "required": false, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Country list", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Country"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/currencies": {"get": {"operationId": "getCurrencyList", "tags": ["Currencies"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get Currency list", "parameters": [{"in": "query", "name": "offset", "description": "search offset", "required": false, "schema": {"type": "integer"}}, {"in": "query", "name": "limit", "description": "currency count", "required": false, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Currency list", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Currency"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/suppliers": {"get": {"operationId": "getAvailableSupplierList", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get available supplier list", "responses": {"200": {"description": "Supplier list", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SupplierLight"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/suppliers/{id}/usagebalances": {"parameters": [{"in": "path", "name": "id", "description": "supplier identifier who own the sim card", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"in": "query", "name": "transaction", "description": "transaction identifier. This parameter is only relevant for eSim retreived by API. For eSim retreived by bulk or physical Sim. The caller must use simdId query parameter instead", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"in": "query", "name": "simId", "description": "sim identifier. Relevant only for Welcome Travelers Sim or eSim. The simId is usually the NSCE", "required": false, "schema": {"type": "string"}}], "get": {"operationId": "getUsageBalance", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get balance for one final customer. The sim customer must be link to an existing transaction (topup or eSim). For Welcome Travelers the simId could be set in a query parameter.", "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsageBalance"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/suppliers/{id}/globalbalances": {"parameters": [{"in": "path", "name": "id", "description": "supplier identifier to retreive", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"in": "query", "name": "startDate", "description": "begin date (format YYYY-MM-DD)", "required": true, "schema": {"type": "string"}}, {"in": "query", "name": "endDate", "description": "begin date (format YYYY-MM-DD)", "required": true, "schema": {"type": "string"}}, {"in": "query", "name": "zoneLevel", "description": "indicates the zone level detail required", "required": true, "schema": {"type": "string", "enum": ["region", "country"]}}], "get": {"operationId": "getGlobalBalance", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get distributor balance for a given period (less than 6 months). Only available for Welcome Travelers supplier", "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DistributorBalance"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/suppliers/{id}/simstatus": {"parameters": [{"in": "path", "name": "id", "description": "supplier identifier who own teh sim card", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"in": "query", "name": "transaction", "description": "transaction identifier. This parameter is only relevant for eSim retreived by API. For eSim retreived by bulk or physical Sim. The caller must use simdId query parameter instead", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"in": "query", "name": "simId", "description": "sim identifier. Relevant only for Welcome Travelers Sim or eSim. The simId is usually the NSCE", "required": false, "schema": {"type": "string"}}], "get": {"operationId": "getSimStatus", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get Sim status. information retrieved depends on supplier.", "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SimStatus"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/transactions": {"get": {"parameters": [{"in": "query", "name": "offset", "description": "search offset", "required": false, "schema": {"type": "integer"}}, {"in": "query", "name": "limit", "description": "transaction count", "required": false, "schema": {"type": "integer"}}, {"in": "query", "name": "startDate", "description": "start date (format YYYY-MM-DD)", "required": false, "schema": {"type": "string", "format": "date-time"}}, {"in": "query", "name": "endDate", "description": "end date (format YYYY-MM-DD)", "required": false, "schema": {"type": "string", "format": "date-time"}}, {"in": "query", "name": "status", "description": "transaction status filtering", "required": false, "schema": {"type": "string"}}, {"in": "query", "name": "offer", "description": "offer identifier filter", "required": false, "schema": {"type": "string"}}, {"in": "query", "name": "supplier", "description": "supplier identifier filter", "required": false, "schema": {"type": "string"}}, {"in": "query", "name": "user", "description": "external identifier form distributor service platform", "required": false, "schema": {"type": "string"}}], "operationId": "getDistributorTransactionList", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get distributor transaction list", "responses": {"200": {"description": "distributor transaction list", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DistributorTransaction"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"operationId": "createTransaction", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Create a transaction.", "requestBody": {"required": true, "description": "Mandatory parameters to create a topup transaction", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TransactionCreation"}}}}, "responses": {"201": {"description": "Transaction object", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DistributorTransaction"}}}}, "400": {"description": "Bad request. reason could be:<br> - unable to decode json body<br> - missing offer_id parameter in body<br> - invalid offer_id parameter<br> - product {product_id} not available ({status}) for offer {offer_id}<br> - bucket empty for offer {offer_id}<br> - missing parameters parameter in body (mandatory for a topup transaction)<br> - parameters not set in body (mandatory for a topup transaction)<br> - supplier {supplier_id} not managed yet<br> - bad parameter for transaction for offer {offer_id}. means that the msisd or simid is not valid for a topup transaction<br> - transaction failed (bucket unchanged) supplier {supplier_id} product {product_id} offer {offer_id} distributor {id} message {supplier reason}<br>", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/transactions/{id}": {"parameters": [{"in": "path", "name": "id", "description": "transaction identifier", "required": true, "schema": {"type": "string", "format": "uuid"}}], "get": {"operationId": "getDistributorTransactionDetail", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get transaction details", "responses": {"200": {"description": "transaction detail", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DistributorTransaction"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/transactions/count": {"parameters": [{"in": "query", "name": "startDate", "description": "start date", "required": false, "schema": {"type": "string", "format": "date-time"}}, {"in": "query", "name": "endDate", "description": "start date", "required": false, "schema": {"type": "string", "format": "date-time"}}, {"in": "query", "name": "status", "description": "transaction status filtering", "required": false, "schema": {"type": "string", "format": "string"}}, {"in": "query", "name": "offer", "description": "offer identifier filter", "required": false, "schema": {"type": "string"}}, {"in": "query", "name": "supplier", "description": "supplier identifier filter", "required": false, "schema": {"type": "string"}}, {"in": "query", "name": "user", "description": "external identifier form distributor service platform", "required": false, "schema": {"type": "string"}}], "get": {"operationId": "getDistributorTransactionCount", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get distributor transaction count", "responses": {"200": {"description": "distributor transaction count", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Count"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/offers": {"parameters": [{"in": "query", "name": "offset", "description": "search offset", "required": false, "schema": {"type": "integer"}}, {"in": "query", "name": "limit", "description": "offer count", "required": false, "schema": {"type": "integer"}}], "get": {"operationId": "getDistributorOfferList", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get offer list for a given distributor", "responses": {"200": {"description": "Offer list", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/OfferLight"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/offers/{id}": {"parameters": [{"in": "path", "name": "id", "description": "offer identifier to retreive", "required": true, "schema": {"type": "string", "format": "uuid"}}], "get": {"operationId": "getDistributorOffer", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get offer for a given distributor", "responses": {"200": {"description": "Offer list", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/OfferLight"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"operationId": "changeDistributorOfferEditableParameters", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Allows a distributor to add additional information to his offer", "requestBody": {"required": true, "description": "Mandatory parameters to patch the offer", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OfferEditableParameters"}}}}, "responses": {"200": {"description": "patched distributor offer", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/OfferLight"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/distributors/keys": {"parameters": [{"in": "query", "name": "encoding", "description": "indicates the encoding of the public_key_value payload property. If not set the property is in plain text.", "required": false, "schema": {"type": "string", "enum": ["base64"]}}], "get": {"operationId": "getDistributorKey", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Get the current public key set by the distributor", "responses": {"200": {"description": "Offer list", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DistributorKey"}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"operationId": "setDistributorKey", "tags": ["Frontoffice"], "security": [{"oauth-m2m": ["sekapi:manager:access:api"]}], "summary": "Allows a distributor to set a public key for sensible data encryption. This request replace the current key set previouslly", "requestBody": {"required": true, "description": "Mandatory parameters to patch the public key", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DistributorKey"}}}}, "responses": {"201": {"description": "public key created or updated", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DistributorKey"}}}}}, "default": {"description": "Common errors", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}}, "components": {"schemas": {"Status": {"type": "object", "required": ["message", "description"], "properties": {"isAlive": {"type": "boolean", "description": "indicates if the server is up and running"}, "version": {"type": "string", "description": "api version (https://developer.orange.com/apis/travel-b2b-sandbox/release-log)."}}}, "Error": {"type": "object", "required": ["message", "description"], "properties": {"code": {"type": "number", "description": "additional information regarding error (0 if not relevant)", "default": 0}, "message": {"type": "string", "description": "error type.", "enum": ["Bad Request", "Unauthorized", "Payment Required", "Forbidden", "Not Found", "Method Not Allowed", "Not Acceptable", "Request Time-out", "Conflict", "Too Many Requests", "Internal Server Error"]}, "description": {"type": "string", "description": "error description free field."}}}, "DistributorKey": {"type": "object", "properties": {"key_type": {"type": "string", "description": "distributor public key used to encrypt sensible data in response.", "enum": ["rsa256"]}, "public_key_value": {"type": "string", "description": "public key value generated by the distributor."}}}, "Count": {"type": "object", "properties": {"count": {"type": "number", "description": "entity count."}}}, "Currency": {"type": "object", "properties": {"iso_code": {"type": "string", "description": "currency iso code RFC 4217."}, "name": {"type": "string", "description": "currency name."}, "euro_exchange_rate": {"type": "number", "format": "float", "description": "current exchange rate between euro"}, "us_dollar_exchange_rate": {"type": "number", "format": "float", "description": "current exchange rate between us dollar"}, "last_change": {"type": "string", "description": "exchange rate last update."}}, "example": {"iso_code": "BWP", "name": "Pula", "euro_exchange_rate": 0.74, "us_dollar_exchange_rate": 0.85, "last_change": "2021-02-21 14:34:23"}}, "CurrencyRate": {"type": "object", "properties": {"euro_exchange_rate": {"type": "number", "format": "float", "description": "current exchange rate between euro"}, "us_dollar_exchange_rate": {"type": "number", "format": "float", "description": "current exchange rate between us dollar"}}}, "Country": {"type": "object", "properties": {"iso_code": {"type": "string", "description": "currency iso code RFC 4217."}, "name": {"type": "string", "description": "country name."}, "phone_prefix": {"type": "number", "description": "msisdn prefix"}, "flag": {"type": "string", "description": "flag url (https://flagcdn.com/w160/fr.png)."}}}, "SupplierLight": {"type": "object", "properties": {"id": {"type": "string", "description": "supplier uuid.", "format": "uuid"}, "name": {"type": "string", "description": "supplier name."}, "status": {"type": "string", "description": "supplier status.", "enum": ["approved", "revoked", "pending"]}}}, "ProductLight": {"type": "object", "required": ["id", "type", "coverage_zone"], "properties": {"id": {"type": "string", "description": "product uuid.", "format": "uuid"}, "orange_travel_id": {"type": "string", "description": "Orange Travel internal reference.", "pattern": "^OT\\d{9}$"}, "type": {"type": "string", "enum": ["topup", "eSim", "simCard"], "description": "product type."}, "supplier_id": {"type": "string", "description": "supplier uuid.", "format": "uuid"}, "coverage_zone": {"type": "array", "items": {"$ref": "#/components/schemas/Country"}, "description": "product coverage zone with no oraming charges."}, "tags": {"type": "array", "items": {"type": "string"}, "description": "free information to ease Product search and sort."}, "reference_currency": {"type": "string", "description": "indicates the currency to use to adapt product values. if EUR, the euro_value never change. The local value change according to the current exchange rate"}, "bonus_value": {"type": "number", "format": "float", "description": "indicates the bonus to apply to the local value."}, "bonus_activation_date": {"type": "string", "format": "date-time", "description": "start date where the bonus is available."}, "bonus_expiration_date": {"type": "string", "format": "date-time", "description": "end date where the bonus is available."}, "metadata": {"description": "additional information to describe the product according type value", "oneOf": [{"$ref": "#/components/schemas/TopupMetadata"}, {"$ref": "#/components/schemas/SimMetadata"}]}}}, "OfferEditableParameters": {"type": "object", "properties": {"name": {"type": "string", "description": "offer name set by the distributor thanks to his own needs (wording, language, ...)"}, "distributor_fees": {"type": "integer", "format": "float", "description": "fees managed by the distributor."}, "distributor_fees_type": {"type": "string", "enum": ["percent", "value"], "description": "type of fees."}, "metadata": {"type": "string", "description": "free field containing addtionnal information set by the distributor."}}}, "OfferLight": {"type": "object", "required": ["id", "name", "product", "resell_value"], "properties": {"id": {"type": "string", "description": "offer uuid.", "format": "uuid"}, "name": {"type": "string", "description": "offer name. could be the as the product name or dynamically set according to the template_name property"}, "product": {"$ref": "#/components/schemas/ProductLight"}, "distributor_id": {"type": "string", "description": "distributor uuid.", "format": "uuid"}, "bucket": {"type": "integer", "description": "current bucket remaining"}, "last_bucket_update": {"type": "string", "format": "date-time", "description": "last bucket update date on topup or decrease"}, "creation_date": {"type": "string", "format": "date-time", "description": "offer creation date"}, "update_date": {"type": "string", "format": "date-time", "description": "last offer modification date"}, "expiration_date": {"type": "string", "format": "date-time", "description": "offer expiration date"}, "resell_value": {"type": "integer", "format": "float", "description": "final product value for distributor according to mark_up applied."}, "distribution_fees": {"type": "integer", "format": "float", "description": "fees apply by the distributor."}, "distribution_fees_type": {"type": "string", "enum": ["percent", "value"], "description": "type of fees."}, "tags": {"type": "array", "items": {"type": "string"}, "description": "free information to ease offer search and sort."}, "metadata": {"type": "string", "description": "free field to add offer information."}}}, "TransactionCreation": {"type": "object", "required": ["offer_id"], "properties": {"offer_id": {"type": "string", "description": "offer uuid.", "format": "uuid"}, "voucher_id": {"type": "string", "description": "voucher identifier."}, "user_id": {"type": "string", "description": "identify the customer who generate the transaction."}, "parameters": {"description": "specific information needed for transaction management. For a eSim product, this parameter is not required", "oneOf": [{"$ref": "#/components/schemas/TopupParameters"}, {"$ref": "#/components/schemas/SimParameters"}]}}}, "TopupParameters": {"type": "object", "properties": {"msisdn": {"type": "string", "description": "user msisdn to topup."}, "simId": {"type": "string", "description": "SIM serial number to topup."}, "ean": {"type": "string", "description": "supplier product reference"}, "serial": {"type": "string", "description": "topup serial numer returned by the spplier connector"}, "expiration_date": {"type": "string", "format": "date-time", "description": "topup expiration date."}}}, "SimParameters": {"type": "object", "properties": {"prefix": {"type": "string", "description": "country prefix."}, "msisdn": {"type": "string", "description": "phone number."}, "activation_code": {"type": "string", "description": "activation code used to install the esim within a mobile device. This critical information is encrypted with the consumer public key"}, "pin_code": {"type": "string", "description": "esim pin code."}, "puk": {"type": "string", "description": "esim pin unlock key code."}, "imsi": {"type": "string", "description": "International mobile subscriber identity."}, "iccid": {"type": "string", "description": "Integrated circuit card identifier."}, "nsce": {"type": "string", "description": "(e)sim card serial nummber."}, "matching_id": {"type": "string", "description": "matching identifier."}, "smdp_url": {"type": "string", "description": "smdpt plus URL."}}}, "TopupMetadata": {"type": "object", "properties": {"validity_duration": {"type": "integer", "description": "product validity duration. -1 for illimited."}, "validity_unit": {"type": "string", "description": "product validity unit.", "enum": ["days", "months", "years", "unlimited"]}, "airtime_duration": {"type": "integer", "description": "airtime amount associated to the product. -1 for illimited."}, "airtime_unit": {"type": "string", "enum": ["minutes", "hours", "unlimited"], "description": "airtime amount unit."}, "airtime_cost": {"type": "string", "description": "information regarding airtime cost"}, "data_amount": {"type": "integer", "description": "data amount associated to the product. . -1 for illimited."}, "data_unit": {"type": "string", "enum": ["Mo", "Go", "Mb", "Gb"], "description": "data unit."}, "sms": {"type": "string", "description": "information regarding SMS"}, "sms_cost": {"type": "string", "description": "information regarding SMS cost"}}}, "SimMetadata": {"type": "object", "description": "(e)Sim description", "properties": {"network": {"type": "string", "description": "network managed by the product."}, "validity_duration": {"type": "integer", "description": "product validity duration. -1 for illimited."}, "validity_unit": {"type": "string", "description": "product validity unit.", "enum": ["days", "months", "years", "unlimited"]}, "airtime_duration": {"type": "integer", "description": "airtime amount associated to the product. -1 for illimited."}, "airtime_unit": {"type": "string", "enum": ["minutes", "hours", "unlimited"], "description": "airtime amount unit."}, "data_amount": {"type": "integer", "description": "data amount associated to the product. . -1 for illimited."}, "data_unit": {"type": "string", "enum": ["Mo", "Go", "Mb", "Gb"], "description": "data unit."}, "sms": {"type": "string", "description": "information regarding SMS"}, "kyc_level": {"type": "integer", "description": "indicates how KYC level is required for this product"}, "kyc_url": {"type": "string", "description": "information regarding KYC management for this product"}}}, "DistributorTransaction": {"type": "object", "properties": {"id": {"type": "string", "description": "transaction uuid.", "format": "uuid"}, "status": {"type": "string", "enum": ["created", "pending", "ok", "ko", "expired"], "description": "product type."}, "product_type": {"type": "string", "enum": ["airtime topup", "sms topup", "data topup", "bundle topup", "simCard", "eSim", "sunscription"], "description": "product type."}, "billing_mode": {"type": "string", "description": "distributor billing mode", "enum": ["prepaid", "postpaid"]}, "creation_date": {"type": "string", "format": "date-time", "description": "creation date."}, "change_date": {"type": "string", "format": "date-time", "description": "change date."}, "expiration_date": {"type": "string", "format": "date-time", "description": "expiration date."}, "offer_id": {"type": "string", "description": "offer uuid.", "format": "uuid"}, "offer_name": {"type": "string", "description": "offer name set by the distributor."}, "product_name": {"type": "string", "description": "product name."}, "supplier_name": {"type": "string", "description": "supplier name."}, "supplier_tax": {"type": "integer", "format": "float", "description": "tax value percent apply on local value by supplier"}, "voucher_id": {"type": "string", "description": "voucher identifier."}, "resell_value": {"type": "integer", "format": "float", "description": "final product price for distributor according to mark_up applied."}, "bonus_value": {"type": "integer", "format": "float", "description": "extra value amount applied on local value"}, "reference_currency": {"type": "string", "description": "reference currency used to adapt euro value or local value"}, "local_currency": {"type": "string", "description": "product local currency"}, "rate_exchange": {"type": "integer", "format": "float", "description": "rate exchange between referenc_currency and local_currency when the transaction occured."}, "user_id": {"type": "string", "description": "identify the customer who generate the transaction."}, "parameters": {"description": "other information to ease transaction management", "oneOf": [{"$ref": "#/components/schemas/TopupParameters"}, {"$ref": "#/components/schemas/SimParameters"}]}}}, "BasketItemCreation": {"type": "object", "properties": {"product_id": {"type": "string", "description": "product uuid.", "format": "uuid"}, "count": {"type": "integer", "description": "item amount."}}}, "BucketBalance": {"type": "object", "description": "Bucket balance", "properties": {"name": {"type": "string", "description": "bucket name (if provided by the supplier)."}, "activation_date": {"type": "string", "format": "date-time", "description": "bucket activation date (if provided by the supplier)."}, "expiration_date": {"type": "string", "format": "date-time", "description": "bucket expiration date (if provided by the supplier)."}, "data_remaining": {"type": "number", "format": "float", "description": "global data amount."}, "data_unit": {"type": "string", "description": "data unit according to bucket type.", "enum": ["Mo", "Go", "Mb", "Gb", "minutes", "hours", "unlimited"]}, "airtime_remaining": {"type": "number", "format": "float", "description": "airtime amount."}, "airtime_unit": {"type": "string", "description": "airtime unit according to bucket type.", "enum": ["minutes", "hours", "unlimited"]}, "sms_remaining": {"type": "number", "format": "float", "description": "airtime amount."}}}, "UsageBalance": {"type": "object", "description": "Usage balance", "properties": {"first_activation_date": {"type": "string", "format": "date-time", "description": "line activation date (if provided by the supplier)."}, "number_expiration_date": {"type": "string", "format": "date-time", "description": "line expiration date (if provided by the supplier)."}, "buckets": {"type": "array", "description": "buckets list associated to the (e)SIM", "items": {"$ref": "#/components/schemas/BucketBalance"}}}}, "DistributorBalance": {"type": "object", "description": "Price list creation", "properties": {"start_date": {"type": "string", "format": "date-time", "description": "begin date."}, "end_date": {"type": "string", "format": "date-time", "description": "line activation date."}, "zones": {"description": "Price list creation", "type": "array", "items": {"$ref": "#/components/schemas/ZoneBalance"}}}}, "ZoneBalance": {"type": "object", "properties": {"name": {"type": "string", "description": "zone name."}, "code": {"type": "string", "description": "zone code."}, "data_unit": {"type": "string", "enum": ["Mo", "Go", "Mb", "Gb"], "description": "data unit."}, "data_amount": {"type": "number", "format": "float", "description": "global data amount."}}}, "SimStatus": {"type": "object", "description": "Sim status information.", "required": ["status"], "properties": {"status": {"type": "string", "enum": ["free", "not installed", "available", "suspended fraud", "suspended kyc default", "suspended by operator", "suspended following a theft or loss", "expired", "revoked by operator", "uninstalled", "sim swap"], "description": "sim card status."}, "activation_date": {"type": "string", "format": "date-time", "description": "line activation date."}, "expiration_date": {"type": "string", "format": "date-time", "description": "plan expiration date. after this date the plan (data, airtime, sms) are not usable (fair use  only)"}, "number_expiration_date": {"type": "string", "format": "date-time", "description": "line expiration date. after this date the sim card will not be usable"}}}}, "securitySchemes": {"oauth-m2m": {"type": "oauth2", "flows": {"clientCredentials": {"tokenUrl": "https://api.orange.com/oauth/v3/token", "scopes": {"sekapi:manager:access:api": "SEKAPI Manager API global access permission"}}}}}}, "tags": [{"name": "Frontoffice"}]}